html, body {
  min-height: 100vh;
  /* max-height: 100%; */
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

#app, .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
}

.container {
  padding: 0rem 0rem 2rem 0rem;
}

body {
  margin: 0rem;
  padding: 0rem;
  /* display: grid;
  place-items: center; */
}

div button {
  width: 8rem;
  height: 2rem;
  cursor: pointer;
}

form {
  width: 12rem;
}

.form div {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.form div button {
  margin-top: 1rem;
  width: 100%;
}

.form .sign-in-error {
  margin-top: 1rem;
}

.form .post {
  background-color: lightblue;
  padding: 1rem;
  border-radius: 0.5rem;
}

.form .post__title {
  font-weight: bold;
}

.form .post__description {
  font-weight: 400;
}

.close {
  background-color: #eca1a6;
}

.open {
  background-color: #b5e7a0;
}
