<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="index.css">
  <title>Introduction and Fundamentals about Vuejs</title>
</head>

<body>
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

  <div id="app">


  </div>

  <script>
    const app = Vue.createApp({
      data() {
        return {
          open: false,
          labelForLogin: 'Inactive Session',
          user: {
            username: '',
            password: ''
          },
          signInError: '',
          posts: [{ title: 'Title 1', description: 'lorem lorem dklfdnkljd' }, { title: 'Title 2', description: 'lorem lorem dklfdnkljd' }, { title: 'Title 3', description: 'lorem lorem dklfdnkljd' }],
          postError: '',
          items: ['uno', 'dos', 'tres', 'cuatro']
        };
      },

      methods: {
        toggleOpen() {
          this.open = !this.open;
        },
        signIn(event) {
          event.preventDefault();
          if (this.user.username.trim() !== '' && this.user.password !== '') {
            this.signInError = '';
            this.open = !this.open
          } else {
            this.signInError = 'There is an error with your username or password.';
          }

          if (!this.open) {
            this.user.username = '';
            this.user.password = '';
          }

        },

        deletePost(index) {
          console.log('index of the element: ', index);
          this.posts.splice(index, 1);

        },

        addPost(event) {
          event.preventDefault();
          console.group('addPost');
          console.log('event', event);
          console.groupEnd();
          if(event.target[0].value !== '' && event.target[1].value !== '') {
            const newPost = {
              title: event.target[0].value,
              description: event.target[1].value
            };
            this.posts.push(newPost);
            event.target[0].value = '';
            event.target[1].value = '';
            this.postError = '';
          } else {
            this.postError = "You have to type a title and description to add a new post.";
          }
        },
        removeItem(index) {
          console.log('index of the element: ', index);
          this.items.splice(index, 1);

        },



      },

      computed: {
        textForLoginButton() {
          return this.open ? 'Sign out' : 'Sign in'
        },
        containerStyles() {
          return this.open ? ['open'] : ['close'];
        }
      },

      watch: {
        open(value) {
          console.log('watch open', value);
          if (value) {
            this.labelForLogin = "Active Session";
          } else {
            this.labelForLogin = "Inactive Session";
          }

        }
      },

      template:
        `
        <v-layout> 
          <template v-slot:header> Header </template>
          <template v-slot:content> Content </template>
        </v-layout>

        <ul>
          <v-item v-for="(item, index) in items" :key="index" v-bind:text="item" v-on:removeItem="removeItem(index)" />
          

        </ul>

        
        <div class="container" v-bind:class="containerStyles">
          <h2> {{ labelForLogin }} </h2>
          <form class="form" v-on:submit="signIn"> 
            
            <div v-if="!open">

            <input type="text" placeholder="type your email" v-model="user.username">
            <input type="password" placeholder="type your password" v-model="user.password">

            </div>

            <div v-if="open">
              <div>Username: {{ user.username }}</div>
              <div>Password: {{ user.password }}</div>

              <div class="list">
                <post v-for="(post, index) in posts" :key="index" :post="post" :index="index" :deletePost="deletePost" />
              </div>

            </div>

            <div>
              <button type="submit"> {{ textForLoginButton }} </button>
            </div>

            <div class="sign-in-error">
              {{ signInError }}
            </div>
            
          </form>

          <form v-on:submit="addPost" v-if="open">
            <div> 
              <label>Post title</label>
              <input type="text">  
            </div>

            <div> 
              <label>Post description</label>
              <input type="text">  
            </div>

            <button type="submit">Add post</button>
            <div> {{ postError }} </div>
          </form>
        </div>
        `



    });

    app.component('v-item', {
      // props: ['text'],
      props: {
        text: {
          default: 'default text'
        }
      },
      methods: {
        removeItem() {
          this.$emit('removeItem');
        }
      },
      template: 
      `
        <li v-on:click="removeItem"> {{ text }} </li>
      `
    });

    app.component('v-layout', {
      template: 
      `
        <header>
          <slot name="header"> </slot>  
        </header>

        <div>
          <slot name="content"> </slot>  
        </div>
      `
    });

    app.component('post', {
      props: ['post', 'index', 'deletePost'],
      template: 
      `
        <div class="post">
          <div class="post__title"> {{ post.title }} - index: {{ index }} </div>
          <p class="post__description"> 
          {{ post.description }}
          </p>
          <button type="button" v-on:click="deletePost(index)"> Delete </button>
        </div>
      `
    });
    
    const vm = app.mount('#app');
  </script>


</body>

</html>